*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #151055, #030129);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.board{
    margin-top: 50px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.5rem;

}
.boardRows{
    display: flex; 
    gap: 10px;
}
.boardCells{
    display: flex;
    color: white;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid rgb(121, 120, 120);
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    border-radius: .7rem;
    font-weight: bold;
}

.keyboard{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: white;
}
.keyboardRows {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 5px 0;
  }
  
  .keyLetters {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }

  .correct{
    background-color: greenyellow;
  }
  .semiCorrect{
    background-color: goldenrod;
  }
  .wrong{
    background-color: gray;
  }
  